@import "../../styleConstant";

.article{
  background-color: $background-article-color;
  padding:15px;
  box-shadow: $box-shadow;
  overflow: auto;
  width:100%;
}

.article_header{
  font-size: 20px;
  line-height: 28px;
}

.article_title{
  color: $article-title-color;
  margin-bottom: 0;
}

.avatar{
  width:100%;
}

.article_description{
  color: $article-description-color;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 22px;
}

.article_body {
  color: $text-color;
  font-size: 20px;
  line-height: 28px;
}

.article_delete{
  color:$highlight-color;
  border-color: $highlight-color;
}

.article_edit{
  color: $success-color;
  border-color: $success-color;
}

.tag{
  font-size: 12px;
  line-height: 15px;
  color: $tag-font-color;
}